/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* Subscription */
#subscription {
  padding-top: 5rem;
}

#subscription::before {
  content: "";
  background-color: var(--primary-100);
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: 1;
  position: absolute;
  opacity: 0.25;
}

/* ************************* */
/* ************************* */
/* Subscription - main */
.subs_main {
  position: relative;
  z-index: 2;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 40px;
  padding: 4rem;
  margin: 0 auto 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subs_main_title,
.subs_main_desc {
  text-align: center;
  margin: auto;
}

.subs_main_title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.4rem;
  color: var(--neutral-900);
  display: flex;
  align-items: center;
  margin: 0 auto 8px;
  gap: 16px;
}

.subs_main_title span {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.subs_main_desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutral-700);
}

/* Subscription - grid */
.subs_grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  margin-top: 5rem;
}

.subs_card {
  padding: 2rem 1.5rem;
  border-color: var(--neutral-100);
  border-radius: 1.5rem;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-flow: column;
}

.subs_card_type {
  text-transform: uppercase;
  color: var(--neutral-600);
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

.subs_card_price {
  font-size: 3rem;
  line-height: 1;
  color: var(--neutral-700);
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 2rem;
}
.subs_card_price span {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--neutral-500);
  margin-inline-start: 0.25rem;
  display: block;
}

.subs_card_features {
  list-style: none;
  margin-bottom: 2rem;
  padding: 0;
}

.subs_card_features li {
  display: flex;
  align-items: center;
  color: var(--neutral-700);
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.subs_card_features li:first-child {
  margin-top: 0;
}

.subs_card_features span {
  margin-inline-end: 1rem;
  display: inline-flex;
  flex-shrink: 0;
  color: var(--primary-600);
}

.subs_card_features svg {
  width: 1.25rem;
  height: 1.25rem;
}

.subs_card_btn {
  display: block;
  border: transparent;
  border-radius: 9999px;
  margin-top: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.875rem 1.5rem;
  text-align: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary-50);
  background-color: var(--secondary-500);
}

.subs_card_btn:hover {
  background-color: var(--secondary-600);
}

.subs_card_text {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--neutral-500);
  letter-spacing: 0.05em;
  display: block;
}

.subs_card-popular {
  border-color: var(--primary-500);
  position: relative;
}
.subs_card-popular::before {
  content: "POPULAR";
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: var(--primary-500);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  z-index: 10;
  color: var(--secondary-50);
  letter-spacing: 0.1rem;
}
.subs_card-popular .subs_card_btn {
  background-color: var(--primary-500);
}
.subs_card-popular .subs_card_btn:hover {
  background-color: var(--primary-600);
}

/* ************************* */
/* ************************* */
/* Subscription - newsletter */
.subs_newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

/* Subscription - form */
.subs_newsletter_main {
  margin-inline-end: 2.5rem;
  width: 40%;
  min-width: 397px;
  display: flex;
  flex-direction: column;
}

.subs_newsletter_title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0;
  color: var(--neutral-900);
  display: flex;
}

.subs_newsletter_desc {
  color: var(--neutral-500);
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.subs_newsletter_list {
  margin: 0;
  padding: 0;
  margin-top: 2.5rem;
}

.subs_newsletter_list li {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutral-700);
}

.subs_newsletter_list li:first-child {
  margin-top: 0;
}

.subs_newsletter_list span {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.625rem;
  border-radius: 9999px;
  font-weight: 500;
  display: block;
  margin-right: 1rem;
}

.subs_newsletter_list li:nth-child(1) span {
  background-color: #dbeafe;
  color: #1e40af;
}
.subs_newsletter_list li:nth-child(2) span {
  background-color: #fee2e2;
  color: #991b1b;
}

.subs_newsletter_form {
  max-width: 24rem;
  margin-top: 2.5rem;
  position: relative;
}

.subs_newsletter_input {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--neutral-200);
  outline: none;
  border-radius: 9999px;
  display: block;
  width: 93%;
  color: var(--neutral-500);
}

.subs_newsletter_input:focus {
  outline: none;
}

.subs_newsletter_input::placeholder {
  font-weight: 400;
  color: var(--neutral-500);
  letter-spacing: 0.01rem;
}

.subs_newsletter_btn {
  background-color: #0f172a;
  border: 1px solid transparent;
  position: absolute;
  right: -2px;
  top: 50%;
  margin-top: -1.125rem;
  line-height: 1 !important;
  color: #f8fafc;
  border-radius: 9999px;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Subscription - image */
.subs_newsletter_image {
  flex-grow: 1;
  max-width: 728px;
}

@media screen and (max-width: 1023px) {
  /* ************************* */
  /* ************************* */
  /* ************************* */
  /* ************************* */
  /* Subscription */

  /* ************************* */
  /* ************************* */
  /* Subscription - main */
  .subs_main {
    padding: 2.5rem;
    border-radius: 1.5rem;
  }

  .subs_main_title {
    font-size: 1.875rem;
  }
  .subs_main_title span {
    font-size: 1.5rem;
  }

  /* Subscription - grid */
  .subs_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    margin-top: 4rem;
    width: 100%;
  }

  .subs_card_btn {
    margin-top: 0;
  }
  /* ************************* */
  /* ************************* */
  /* Subscription - newsletter */
  .subs_newsletter {
    flex-direction: column;
  }

  .subs_newsletter_main {
    max-width: 644px;
    margin-bottom: 3.5rem;
    margin-inline-end: 0;
    width: 100%;
    min-width: auto;
  }

  .subs_newsletter_input {
    width: 100%;
  }
  .subs_newsletter_btn {
    right: 7px;
  }
}

@media screen and (max-width: 767px) {
  /* ************************* */
  /* ************************* */
  /* ************************* */
  /* ************************* */
  /* Subscription */

  /* ************************* */
  /* ************************* */
  /* Subscription - main */
  .subs_card_features li {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 639px) {
  /* ************************* */
  /* ************************* */
  /* ************************* */
  /* ************************* */
  /* Subscription */

  /* ************************* */
  /* ************************* */
  /* Subscription - main */
  .subs_main {
    padding: 1.25rem;
    border-radius: 0.75rem;
    margin-bottom: 4rem;
  }

  /* Subscription - grid */
  .subs_grid {
    margin-top: 3.5rem;
  }
}
