@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-300: #a5b4fc;
  --primary-400: #818cf8;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #3730a3;
  --primary-900: #312e81;
  --secondary-50: #f0fdfa;
  --secondary-100: #ccfbf1;
  --secondary-200: #99f6e4;
  --secondary-400: #2dd4bf;
  --secondary-500: #14b8a6;
  --secondary-600: #0d9488;
  --secondary-700: #0f766e;
  --secondary-800: #115e59;
  --secondary-900: #134e4a;
  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-600: #4b5563;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #111827;

  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

/*[data-theme="dark"] {
}*/

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.global_wrapper {
  width: 100%;
  max-width: 1313px;
  margin: auto;
  padding: 0 1rem;
}

.logo a {
  color: var(--primary-600);
  display: inline-block;
}

@media screen and (max-width: 1279px) {
  .global_wrapper {
    max-width: 1024px;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .global_wrapper {
    max-width: 777px;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 767px) {
  .global_wrapper {
    max-width: 640px;
  }
}
