header {
  background-color: #ffffff;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.header_wrapper {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**/
.header_menu_btn,
.header_menu_top,
.header_menu_bottom {
  display: none;
}

.header_wrapper .logo {
  padding-top: 5px;
}

/**/
.header_icon_menu {
  display: flex;
  align-items: center;
}

.header_icon_menu a {
  text-decoration: none;
  width: 49px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99999px;
  color: rgb(51 65 85/1);
}

.header_icon_menu a:hover {
  background-color: rgb(241 245 249/1);
}

.header_icon:nth-child(3) a svg {
  width: 24px;
}

.header_icon_menu a svg {
  font-weight: 100;
}

.header_menu,
.header_menu_mask {
  height: inherit;
  display: flex;
  height: inherit;
  align-items: center;
}

/**/
.header_menu_main,
#menu,
.menu_main,
.menu_item {
  display: flex;
  height: inherit;
  align-items: center;
}

#menu ul {
  list-style: none;
  margin: 0;
}

.menu_main,
.menu_item {
  display: flex;
}

.menu_main {
  padding-left: 90px;
}

.menu_link {
  display: inline-block;
  text-decoration: none;
  color: rgb(51 65 85/1);
  padding: 0.625rem 1.13rem;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.25rem;
  border-radius: 9999px;
}

.menu_link:hover {
  color: rgb(15 23 42/1);
  background-color: rgb(241 245 249/1);
}

.menu_link_content {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.menu_link_content span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: rgb(148 163 184/1);
}

.menu_sub_menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 1023px) {
  /**/
  .header_menu_btn {
    display: flex;
  }

  .header_btn {
    background: transparent;
    border-color: transparent;
    padding: 10px;
    padding-left: 16px;
    padding-top: 12px;
    cursor: pointer;
  }

  .header_btn svg {
    width: 27.99px;
  }

  /* *********** */
  .header_menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    background: rgba(17, 24, 39, 0.5);
  }

  .header_menu_mask {
    background: #ffffff;
    height: 100%;
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    max-width: 24rem;
  }

  .header_menu_mask::-webkit-scrollbar {
    display: none;
  }

  .header_menu_top,
  .header_menu_main,
  .header_menu_bottom {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 1.5rem 1.3rem;
  }

  /* ******************* */
  /* HEADER MENU TOP */
  .header_menu_top {
    padding-top: 2rem;
    border-bottom: 1px solid var(--neutral-100);
  }

  /* ******************* */
  /* HEADER MENU TOP - LOGO*/
  .header_wrapper .logo {
    padding-top: 6px;
    padding-left: 103px;
  }

  /* ******************* */
  /* HEADER MENU OPTS */
  .header_menu_opts {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  /* HEADER MENU - LOGO */
  .header_menu_opts .logo {
    padding: 0;
  }

  /* HEADER MENU TOP - BTN CLOSE */
  .header_btn_close {
    background: transparent;
    border: none;
    border-radius: 9999px;
    color: var(--neutral-700);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: -0.5rem;
    top: -1rem;
  }

  .header_btn_close:hover {
    background-color: var(--neutral-100);
  }

  /* ******************* */
  /* HEADER MENU - DESC */
  .header_menu_desc {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(71 85 105/1);
    margin: 0;
    margin-top: 1.25rem;
  }

  /* ******************* */
  /* HEADER MENU - SOCIAL ICONS */
  .header_menu_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .header_menu_icons_list {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .header_menu_icons_list a {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-600);
    cursor: pointer;
  }

  .header_menu_icons_list a svg {
    width: 1.25rem;
    height: 1.25rem;
  }

   /* HEADER MENU - DARK MODE */
  .header_change_mode {
    background: transparent;
    border-radius: 999999px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-100);
    color: var(--neutral-700);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: none;
  }

  .header_change_mode svg {
    width: 1.75rem;
  }

  /* ******************* */
  /* HEADER MENU - FORM */
  .header_search {
    margin-top: 1.25rem;
  }

  .header_search_wrap {
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: rgb(248 250 252/1);
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .header_search_wrap input {
    width: 100%;
    display: block;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
  }

  .header_search_wrap input:focus {
    outline: none;
  }

  /* ******************* */
  /* ******************* */
  /* ******************* */
  /* HEADER - MENU */
  .header_menu_main {
    padding: 1.5rem 0.4rem;
    height: auto;
  }

  #menu {
    width: 100%;
  }

  .menu_main {
    flex-flow: column;
    padding: 0;
    width: 100%;
    gap: 4px;
  }

  .menu_item {
    width: 100%;
    height: auto;
  }

  .menu_link {
    width: 100%;
  }

  .menu_link_content {
    justify-content: space-between;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  /* ******************* */
  /* ******************* */
  /* ******************* */
  /* HEADER - bottom */
  .header_menu_bottom {
    height: 100%;
  }

  .header_menu_bottom a {
    background-color: var(--primary-700);
    color: var(--primary-50);
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    padding: 0.875rem 2.5rem;
    border-radius: 99999px;
    font-weight: 500;
    display: inline-block;
    width: fit-content;
  }
}
