@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-300: #a5b4fc;
  --primary-400: #818cf8;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #3730a3;
  --primary-900: #312e81;
  --secondary-50: #f0fdfa;
  --secondary-100: #ccfbf1;
  --secondary-200: #99f6e4;
  --secondary-400: #2dd4bf;
  --secondary-500: #14b8a6;
  --secondary-600: #0d9488;
  --secondary-700: #0f766e;
  --secondary-800: #115e59;
  --secondary-900: #134e4a;
  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-600: #4b5563;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #111827;

  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;

  --bg-basic: #ffffff;
  --bg-main: #f8f8f8;
}

* {
  box-sizing: border-box;
}

/* ********************************** */
/* ********************************** */
/* ********************************** */
/* GLOBALS */
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.global_wrapper {
  width: 100%;
  max-width: 1313px;
  margin: auto;
  padding: 0 1rem;
}

.logo a {
  color: var(--primary-600);
  display: inline-block;
}
/* GLOBALS */
/* ********************************** */
/* ********************************** */
/* ********************************** */

/* ********************************** */
/* ********************************** */
/* ********************************** */
/* FOOTER */
footer {
  margin-top: 7rem;
  padding: 7rem 0;
  border: 1px solid var(--neutral-200);
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  row-gap: 2.5rem;
  column-gap: 2rem;
}

footer a {
  text-decoration: none;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_col_title {
  color: var(--neutral-700);
  font-weight: 600;
  margin: 0;
  line-height: 1.25rem;
  font-size: 0.8rem;
}

.footer_col_list {
  margin-top: 1.25rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.footer_col_list a,
.footer_social a {
  line-height: 1.25rem;
  font-size: 0.8rem;
  color: var(--neutral-600);
}

.footer_social {
  display: flex;
  flex-flow: column;
  gap: 0.625rem;
}

.footer_social a {
  color: var(--neutral-700);
  display: flex;
  align-items: center;
}

.footer_col_list a:hover,
.footer_social a:hover {
  color: #000;
}

.footer_social a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.75rem;
}

.footer_col-main {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}
/* FOOTER */
/* ********************************** */
/* ********************************** */
/* ********************************** */

/* ********************************** */
/* ********************************** */
/* ********************************** */
/* HERO */
.hero {
  position: relative;
  background-color: #000;
}

.hero_content {
  position: relative;
  z-index: 10;
  padding: 15rem 0;
  color: #fff;
}

.hero_main {
  max-width: 48rem;
}

.hero_title {
  font-size: 3.75rem;
  line-height: 4.13rem;
  font-weight: 700;
  color: var(--neutral-100);
  margin: 0;
  margin-top: 0.75rem;
}

.hero_text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--neutral-300);
  margin: 0;
  margin-top: 1.75rem;
}

.hero_buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2.75rem;
}

.hero_btn {
  color: var(--primary-50);
  font-size: 1rem;
  line-height: 1.5rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 99999px;
  padding: 0.875rem 1.5rem;
  font-weight: 500;
  background-color: var(--primary-700);
  border: none;
  outline: none;
  cursor: pointer;
}

.hero_btn-video {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--neutral-900);
  background-color: #ffffff;
  gap: 0.5rem;
}

.hero_btn-video svg {
  width: 1.25rem;
  height: 1.25rem;
}

.hero_images {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.hero_image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  object-fit: cover;
}

.hero_images::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 11rem;
  background-image: linear-gradient(to right, #000, transparent);
}
/* HERO */
/* ********************************** */
/* ********************************** */
/* ********************************** */

/* ********************************** */
/* ********************************** */
/* ********************************** */
/* SUBSCRIPTION */
#subscription {
  padding-top: 5rem;
}

#subscription::before {
  content: "";
  background-color: var(--primary-100);
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: 1;
  position: absolute;
  opacity: 0.25;
}

/* ************************* */
/* Subscription - main */
.subs_main {
  position: relative;
  z-index: 2;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-basic);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 40px;
  padding: 4rem;
  margin: 0 auto 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subs_main_title,
.subs_main_desc {
  text-align: center;
  margin: auto;
}

.subs_main_title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.4rem;
  color: var(--neutral-900);
  display: flex;
  align-items: center;
  margin: 0 auto 8px;
  gap: 16px;
}

.subs_main_title span {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.subs_main_desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutral-700);
}

/* Subscription - grid */
.subs_grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  margin-top: 5rem;
}

.subs_card {
  padding: 2rem 1.5rem;
  border-color: var(--neutral-100);
  border-radius: 1.5rem;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-flow: column;
}

.subs_card_type {
  text-transform: uppercase;
  color: var(--neutral-600);
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

.subs_card_price {
  font-size: 3rem;
  line-height: 1;
  color: var(--neutral-700);
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 2rem;
}
.subs_card_price span {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--neutral-500);
  margin-inline-start: 0.25rem;
  display: block;
}

.subs_card_features {
  list-style: none;
  margin-bottom: 2rem;
  padding: 0;
}

.subs_card_features li {
  display: flex;
  align-items: center;
  color: var(--neutral-700);
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.subs_card_features li:first-child {
  margin-top: 0;
}

.subs_card_features span {
  margin-inline-end: 1rem;
  display: inline-flex;
  flex-shrink: 0;
  color: var(--primary-600);
}

.subs_card_features svg {
  width: 1.25rem;
  height: 1.25rem;
}

.subs_card_btn {
  display: block;
  border: transparent;
  border-radius: 9999px;
  margin-top: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.875rem 1.5rem;
  text-align: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary-50);
  background-color: var(--secondary-500);
}

.subs_card_btn:hover {
  background-color: var(--secondary-600);
}

.subs_card_text {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--neutral-500);
  letter-spacing: 0.05em;
  display: block;
}

.subs_card-popular {
  border-color: var(--primary-500);
  position: relative;
}
.subs_card-popular::before {
  content: "POPULAR";
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: var(--primary-500);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  z-index: 10;
  color: var(--secondary-50);
  letter-spacing: 0.1rem;
}
.subs_card-popular .subs_card_btn {
  background-color: var(--primary-500);
}
.subs_card-popular .subs_card_btn:hover {
  background-color: var(--primary-600);
}

/* ************************* */
/* Subscription - newsletter */
.subs_newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

/* Subscription - form */
.subs_newsletter_main {
  margin-inline-end: 2.5rem;
  width: 40%;
  min-width: 397px;
  display: flex;
  flex-direction: column;
}

.subs_newsletter_title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0;
  color: var(--neutral-900);
  display: flex;
}

.subs_newsletter_desc {
  color: var(--neutral-500);
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.subs_newsletter_list {
  margin: 0;
  padding: 0;
  margin-top: 2.5rem;
}

.subs_newsletter_list li {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutral-700);
}

.subs_newsletter_list li:first-child {
  margin-top: 0;
}

.subs_newsletter_list span {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.625rem;
  border-radius: 9999px;
  font-weight: 500;
  display: block;
  margin-right: 1rem;
}

.subs_newsletter_list li:nth-child(1) span {
  background-color: #dbeafe;
  color: #1e40af;
}
.subs_newsletter_list li:nth-child(2) span {
  background-color: #fee2e2;
  color: #991b1b;
}

.subs_newsletter_form {
  max-width: 24rem;
  margin-top: 2.5rem;
  position: relative;
}

.subs_newsletter_input {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--neutral-200);
  outline: none;
  border-radius: 9999px;
  display: block;
  width: 93%;
  color: var(--neutral-500);
}

.subs_newsletter_input:focus {
  outline: none;
}

.subs_newsletter_input::placeholder {
  font-weight: 400;
  color: var(--neutral-500);
  letter-spacing: 0.01rem;
}

.subs_newsletter_btn {
  background-color: #0f172a;
  border: 1px solid transparent;
  position: absolute;
  right: -2px;
  top: 50%;
  margin-top: -1.125rem;
  line-height: 1 !important;
  color: #f8fafc;
  border-radius: 9999px;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Subscription - image */
.subs_newsletter_image {
  flex-grow: 1;
  max-width: 728px;
}
/* SUBSCRIPTION */
/* ********************************** */
/* ********************************** */
/* ********************************** */

/* ********************************** */
/* ********************************** */
/* ********************************** */
/* BACKGROUND DESIGN */
.background_design {
  position: relative;
}

.background_design_colors {
  padding-inline-start: 2.5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: hidden;
  flex-direction: column;
  min-height: 0;
  display: flex;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.background_design_color {
  width: 24rem;
  filter: blur(64px);
  mix-blend-mode: multiply;
  opacity: 0.2;
  background-color: rgb(239 35 60/1);
  border-radius: 9999px;
  height: 20rem;
}

.background_design_color-blue {
  background-color: rgb(4 134 139/1);
  margin-inline-start: 2.5rem;
  margin-top: -2.5rem;
}

.background_design_content {
  position: relative;
  z-index: 1;
}
/* BACKGROUND DESIGN */
/* ********************************** */
/* ********************************** */
/* ********************************** */

/* ********************************** */
/* ********************************** */
/* ********************************** */
/* ABOUT */
.about {
  padding: 7rem 0;
}

.about_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.about_content {
  width: 100%;
  max-width: 32rem;
}

.about_title {
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 600;
  color: var(--neutral-900);
  margin: 0;
}

.about_text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--neutral-600);
  margin: 0;
}

.about_images {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.about_image {
  width: 100%;
}
/* ABOUT */
/* ********************************** */
/* ********************************** */
/* ********************************** */

@media screen and (max-width: 1279px) {
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* GLOBALS */
  .global_wrapper {
    max-width: 1024px;
    padding: 0 1rem;
  }
  /* GLOBALS */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* HERO */
  .hero_images {
    width: 50%;
  }
  /* HERO */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* ABOUT */
  .about_content {
    max-width: 100%;
  }

  .about_title {
    font-size: 2.25rem;
    line-height: 2.8125rem;
  }

  .about_text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /* ABOUT */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
}

@media screen and (max-width: 1023px) {
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* GLOBALS */
  .global_wrapper {
    max-width: 777px;
    padding: 0 1rem;
  }
  /* GLOBALS */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* FOOTER */
  footer {
    padding: 4rem 0;
  }
  .footer_grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .footer_col-main {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column: span 4 / span 4;
  }
  .footer_col-main .footer_col:nth-child(1) {
    grid-column: span 1 / span 1;
  }
  .footer_col-main .footer_col:nth-child(2) {
    grid-column: span 3 / span 3;
  }
  .footer_social_name {
    display: none !important;
  }
  .footer_social {
    flex-flow: row;
  }
  /* FOOTER */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* HERO */
  .hero_content {
    padding: 8rem 0;
  }
  /* HERO */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* SUBSCRIPTION */

  /* ************************* */
  /* Subscription - main */
  .subs_main {
    padding: 2.5rem;
    border-radius: 1.5rem;
  }

  .subs_main_title {
    font-size: 1.875rem;
  }

  .subs_main_title span {
    font-size: 1.5rem;
  }

  /* Subscription - grid */
  .subs_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    margin-top: 4rem;
    width: 100%;
  }

  .subs_card_btn {
    margin-top: 0;
  }
  /* ************************* */
  /* Subscription - newsletter */
  .subs_newsletter {
    flex-direction: column;
  }

  .subs_newsletter_main {
    max-width: 644px;
    margin-bottom: 3.5rem;
    margin-inline-end: 0;
    width: 100%;
    min-width: auto;
  }

  .subs_newsletter_input {
    width: 100%;
  }

  .subs_newsletter_btn {
    right: 7px;
  }
  /* SUBSCRIPTION */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* BACKGROUND DESIGN */
  .background_design_color {
    width: 20rem;
    height: 20rem;
  }
  /* BACKGROUND DESIGN */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* ABOUT */
  .about_wrapper {
    flex-direction: column;
  }
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* ABOUT */
}

@media screen and (max-width: 767px) {
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* GLOBALS */
  .global_wrapper {
    max-width: 640px;
  }
  /* GLOBALS */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* FOOTER */
  .footer_grid,
  .footer_col-main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer_col-main {
    grid-column: span 2 / span 2;
  }

  .footer_col-main .footer_col:nth-child(2) {
    grid-column: span 1 / span 1;
  }
  /* FOOTER */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* HERO */
  .hero_content {
    padding: 2.5rem 0 5rem;
  }

  .hero_images {
    width: 100%;
  }

  .hero_images::after {
    display: none;
  }

  .hero_title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .hero_text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.75rem;
  }
  /* HERO */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* SUBSCRIPTION */

  /* Subscription - main */
  .subs_card_features li {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  /* SUBSCRIPTION */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
}

@media screen and (max-width: 639px) {
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* HERO */
  .hero_btn {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
  }
  /* HERO */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */

  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* SUBSCRIPTION */

  /* ************************* */
  /* ************************* */
  /* Subscription - main */
  .subs_main {
    padding: 1.25rem;
    border-radius: 0.75rem;
    margin-bottom: 4rem;
  }

  /* Subscription - grid */
  .subs_grid {
    margin-top: 3.5rem;
  }
  /* SUBSCRIPTION */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
}

@media screen and (max-width: 301px) {
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
  /* FOOTER */
  .footer_grid,
  .footer_col-main {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .footer_col-main {
    grid-column: span 1 / span 1;
  }
  /* FOOTER */
  /* ********************************** */
  /* ********************************** */
  /* ********************************** */
}
